.remember-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-family: "MontserratRegular";
}

.remember-me p {
  position: relative;
  letter-spacing: 0.5px;
  transition: background 0.3s ease, color 0.3s ease;
}

.remember-me p:after {
  content: "";
  position: absolute;
  background: #287dfd;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.remember-me p {
  color: #287dfd;
  cursor: pointer;
  font-size: 12px;
  font-family: "MontserratMedium";
}

.remember-me p:hover:after {
  width: 100%;
  cursor: pointer;
  color: #287dfd;
}

#remember {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #7c817d;
}

.no-account {
  font-family: "MontserratRegular";
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #667085;
  margin-top: 30px;
}

.no-account span {
  color: #007bff;
  cursor: pointer;
}

.no-account span:hover {
  text-decoration: underline;
}

.validation-error-message {
  position: absolute;
  top: 362px;
  left: 50%;
  color: var(--status-error);
  font-size: 12px;
}

.password-validation-error {
  position: absolute;
  top: 47%;
  left: 50%;
  color: var(--status-error);
  font-size: 12px;
}

@media only screen and (max-height: 700px) {
  .validation-error-message {
    position: absolute;
    top: 31%;
    left: 50%;
    color: var(--status-error);
    font-size: 12px;
  }

  .password-validation-error {
    position: absolute;
    top: 45%;
    left: 50%;
    color: var(--status-error);
    font-size: 12px;
  }
}
