<div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1132"
    height="953"
    viewBox="0 0 1132 953"
    fill="none"
  >
    <path
      d="M1131.5 956.5L-0.0001526 953.001L-0.000165777 0.50041L516.5 0.500407L1131.5 956.5Z"
      fill="#018969"
    />
  </svg>
</div>
<main>
  <img src="assets/images/patients/doctor-illustration.png" />
  <p>Hey</p>
</main>
<!-- <section class="auth-card">
    <div class="auth-card-content">
      <header class="auth-card-header">
        <h2>Login to your account</h2>
      </header>
      <div class="auth-card-body">
        <form [formGroup]="loginForm" (submit)="login($event)">
          <app-custom-input-field
            [label]="'Email Address'"
            [placeholder]="'Enter your email address'"
            [control]="loginForm.get('email')"
          />
          <img
            src="assets/images/doctor/email.svg"
            alt="email icon"
            class="icon-email"
          />

          <app-custom-input-field
            [label]="'Password'"
            [type]="'password'"
            [placeholder]="'Enter your password'"
            [control]="loginForm.get('password')"
            [showPassword]="false"
          />
          <img
            src="assets/images/doctor/password.svg"
            alt="password-icon"
            class="icon-password"
          />

          <div class="remember-me">
            <label id="remember">
              <input type="checkbox" name="rememberMe" />
              Remember me
            </label>
            <p routerLink="/forgot-password">Forgot Your Password?</p>
          </div>
          <button type="submit">
            <span class="login">Login</span>
            <span class="loader"></span>
          </button>
        </form>
        <p class="no-account">
          Don't have an account?
          <span [routerLink]="['/signup']">Sign Up</span>
        </p>
      </div>
    </div>
  </section> -->
