<div class="overlay" *ngIf="showNavLink"></div>
<div class="hamburger-icon" (click)="toggleNavLink()">
  <img src="assets/images/admin/list.svg" alt="Menu" />
</div>

<nav class="navbar" [ngClass]="{ show: showNavLink }">
  <div class="logo-item" [routerLink]="['/patient/landing-page']">
    <img src="assets/images/patients/logo.svg" alt="App Logo" />
  </div>
  <div class="navbar-content">
    <p [routerLink]="['/patient/dashboard']" routerLinkActive="active">Home</p>
    <p [routerLink]="['/services']">Services</p>
    <p [routerLink]="['/patient/calendar']">Pricing</p>
    <p [routerLink]="['/Contact-us']">Contact Us</p>
    <p [routerLink]="['/about-us']">About Us</p>
    <div class="doctor-dropdown">
      <span class="dropdown-toggle">Are you a Doctor?</span>
      <div class="dropdown-menu">
        <p [routerLink]="['/signup']">Register</p>
      </div>
    </div>
  </div>
  <div class="btns-wrapper" [routerLink]="['/login']">
    <button class="btn-primary" [routerLink]="['/login']">Login</button>
  </div>
</nav>
