<main class="dashboard page">
  <div>
    <app-nav-bar></app-nav-bar>
    <app-side-nav></app-side-nav>
    <header>
      <h2>Dashboard</h2>
    </header>
    <div class="card-container">
      <div class="new-users-card">
        <div class="img">
          <img src="assets/images/admin/users-check.svg" alt="users" />
          <div class="progress">
            <img src="assets/images/admin/polygon-3.svg" />
            <p>5%</p>
          </div>
        </div>
        <div class="new-user">
          <h1>56</h1>
          <p>New Users</p>
        </div>
      </div>
      <div class="new-users-card">
        <div class="img">
          <img src="assets/images/admin/doctors.svg" alt="users" />
          <div class="progress">
            <img src="assets/images/admin/polygon-4.svg" />
            <p>7%</p>
          </div>
        </div>
        <div class="new-user">
          <h1>156</h1>
          <p>Number of Doctors</p>
        </div>
      </div>
      <div class="new-users-card">
        <div class="img">
          <img src="assets/images/admin/patients.svg" alt="users" />
          <div class="progress">
            <img src="assets/images/admin/polygon-2.svg" />
            <p>2%</p>
          </div>
        </div>
        <div class="new-user">
          <h1>346</h1>
          <p>Number of Patients</p>
        </div>
      </div>
      <div class="new-users-card">
        <div class="img">
          <img src="assets/images/admin/la-icon.svg" alt="users" />
          <div class="progress">
            <img src="assets/images/admin/polygon-1.svg" />
            <p>9%</p>
          </div>
        </div>
        <div class="new-user">
          <h1>501</h1>
          <p>Total Users</p>
        </div>
      </div>
    </div>
  </div>
</main>
