<app-toast />
<main>
  <app-auth-nav></app-auth-nav>
  <app-background-illustration></app-background-illustration>
  <section class="auth-card">
    <form [formGroup]="passwordForm" (submit)="resetPassword()">
      <div class="auth-card-content">
        <header class="auth-card-header">
          <h2>Reset password</h2>
          <p>Set a new password for {{ email }}</p>
        </header>
        <div class="auth-card-body">
          <app-custom-input-field
            [label]="'New Password'"
            [type]="'password'"
            [placeholder]="'Enter your password'"
            [control]="passwordForm.get('password')"
            [showPassword]="false"
          />
          <img
            src="assets/images/doctor/password.svg"
            alt="password-icon"
            class="icon-password"
          />

          <app-custom-input-field
            [label]="'Re-enter Password'"
            [type]="'password'"
            [placeholder]="'Enter your password'"
            [control]="passwordForm.get('confirmPassword')"
            [showPassword]="false"
          />
          <img
            src="assets/images/doctor/password.svg"
            alt="password-icon"
            class="icon-password"
          />
          <button type="submit" [disabled]="responseSignal().pending">
            <span class="reset">Reset Password</span>
            <span class="loader"></span>
          </button>
        </div>
      </div>
    </form>
  </section>
</main>
