.background-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  overflow: hidden;
  /* background: rgba(0, 0, 0, 0.8) 0%; */
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(".././../../../assets/images/doctor/login.svg") lightgray 50% / cover
      no-repeat;
}
