<p>Book an Appointment</p>
<div class="appointment-card">
  <amalitech-input placeholder="placeholder">
    <svg
      slot="iconLeft"
      width="21"
      height="22"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      fill="gray"
      preserveAspectRatio="xMinYMin"
      class="jam jam-search"
    >
      <path
        d="M8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12m6.32-1.094 3.58 3.58a1 1 0 1 1-1.415 1.413l-3.58-3.58a8 8 0 1 1 1.414-1.414z"
      />
    </svg>
  </amalitech-input>

  <img src="assets/images/patients/marker-pin.svg" />

  <amalitech-date-picker
    id="1"
    output-type="string"
    output-format="dd-mm-yyyy"
  />
  <amalitech-select (amalitechChange)="onChange($event)" label="Specialization">
    <amalitech-select-option value="1">Dermatologist</amalitech-select-option>
    <amalitech-select-option value="2">Cardiologist</amalitech-select-option>
    <amalitech-select-option value="3">Orthopedist</amalitech-select-option>
    <amalitech-select-option value="4">Neurologist</amalitech-select-option>
  </amalitech-select>
  <button class="">Proceed</button>
  <!-- </div> -->
</div>
