<main class="faqs page">
  <app-nav-bar />
  <app-side-nav />
  <header>
    <h2>Frequently Asked Questions</h2>
  </header>
  <div class="top-section">
    <app-search />
    <div class="btn-wrapper">
      <amalitech-select (amalitechChange)="onChange($event)" label="Filter">
        <amalitech-select-option value="1">Published</amalitech-select-option>
        <amalitech-select-option value="2">Draft</amalitech-select-option>
      </amalitech-select>

      <amalitech-button (click)="openAddFaqPage()"
        >Add New FAQ<img src="assets/images/doctor/add.svg" alt="Icon plus" />
      </amalitech-button>
    </div>
  </div>

  <div class="card-section">
    <div class="faqs-card" *ngFor="let faqs of faqsData">
      <p class="question">{{ faqs.question }}</p>
      <p class="answer">{{ faqs.answer }}</p>
      <div class="faqs-btn-container">
        <button>
          <img
            src="assets/images/admin/edit.svg"
            alt="Edit Icon"
            class="edit-icon"
          />
          Edit
        </button>
        <div>
          <button>
            <img
              src="assets/images/admin/delete.svg"
              alt="Edit Icon"
              class="Delete-Icon"
            />
            <span>Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
