main {
  header {
    font-family: "MontserratSemiBold";
    padding: 14px 24px 14px 0px;
  }
}

.btn-wrapper {
  display: flex;
  align-items: center;
}

amalitech-select {
  --select-width: 174px;
  --select-label-bg: #fff;
  --select-label-padding: 10px 20px;
  --select-label-font-size: 0.875rem;
  --select-label-weight: 500;
  --select-label-border-width: 1px;
  --select-label-border-color: #d0d5dd;
  --select-label-gap: 1rem;
  --select-label-radius: 0.35rem;
  --select-dropdown-bg: #fff;
  --select-dropdown-padding: 0.35rem;
  --select-dropdown-radius: 0.35rem;
  --select-dropdown-height: 10rem;
  --select-dropdown-border-color: #d0d5dd;
  --select-dropdown-border-width: 1px;
  --select-font-family: "MontserratRegular";
}

amalitech-select-option {
  font-family: "MontserratRegular";
}

amalitech-button {
  --amalitech-button-color: #fff;
  --amalitech-button-bg: var(--primary-color);
  --amalitech-button-font-size: 1rem;
  --amalitech-button-radius: 8.058px;
  --amalitech-button-ptb: 8px;
  --amalitech-button-plr: 16px;
}

.faqs-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--bg-color);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  gap: 10px;
  cursor: pointer;
}

.faqs-btn:hover {
  background: #16c798;
}

.faqs-card {
  display: flex;
  width: 95%;
  padding: 20px;
  align-items: flex-end;
  align-content: flex-end;
  gap: 12px 40px;
  flex-wrap: wrap;
  border-radius: 10px;
  background: var(--Neutral-50, #fff);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  .question {
    font-family: "MontserratSemiBold";
    font-size: 16px;
  }

  .answer {
    font-family: "MontserratMedium";
    font-size: 14px;
    color: #464646;
  }

  .faqs-btn-container {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 1% 0;
  }

  .faqs-btn-container button {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: none;
    color: #464646;
    font-family: "MontserratRegular";
    font-size: 14px;
    cursor: pointer;
  }

  span {
    color: #f04438;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 992px) {
  main {
    header {
      font-family: "MontserratSemiBold";
      padding: 14px 24px 14px 0px;
    }
  }

  .top-section {
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
    width: 95%;
  }
}

@media (max-width: 414px) {
  h2 {
    font-size: 22px;
  }
  .top-section {
    flex-direction: column;
    align-items: center;
  }

  .btn-wrapper {
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .btn-filter,
  .faqs-btn {
    padding: 8px 16px;
    font-size: 12px;
  }

  .faqs-card {
    width: 100%;
    padding: 12px;
    gap: 8px 20px;
  }

  .faqs-btn-container {
    gap: 20px;
    flex-direction: row;
    align-items: center;
  }

  .faqs-btn-container button {
    font-size: 12px;
  }

  img {
    width: 16px;
    height: 16px;
  }
}
