table {
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
}

th,
td {
  text-align: start;
  border-bottom: 1px solid #eaecf0;
  padding: 12px 24px;
}

td {
  font-size: 14px;
  color: var(--font-color-grey);
  font-family: "MontserratMedium";
  padding: 20px;
  text-align: start;
}

th {
  background: #eaecf0;
  color: #464646;
  font-size: 14px;
}
