section {
  header {
    background: var(--primary-base, #f3fcfa);
    height: 25vh;
    h2 {
      text-align: center;
      padding: 7% 30%;
      font-size: 2rem;
      font-family: "MontserratSemiBold";
    }
  }
}

.appointment-section {
  padding: 3% 10%;
  .appointment-content {
    display: flex;
    justify-content: space-between;
    padding: 10% 6%;
    h2 {
      font-family: "MontserratSemiBold";
      font-size: 2.5rem;
      color: #1d2939;
    }
    p {
      padding: 5% 0;
      color: #1d2939;
    }
  }
}

.search-doctor-section {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

amalitech-input {
  --inputComponentWidth: 100%;
}

img {
  width: 35px;
  height: 35px;
}

.category {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  padding: 5% 10%;
}

.pediatrics {
  display: flex;
  padding: 10px;
  height: 70px;
  width: 40%;
  align-items: center;
  gap: 10px;
  border-radius: 9.519px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.pediatrics img {
  width: 50px;
  height: 50px;
}

.doctor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 0 10%;
  margin-bottom: 40%;
}

.doctor-card {
  display: flex;
  width: 100%;
  padding: 22.503px 18.217px;
  height: 270px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 21.431px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.profile-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profile-section img {
  width: 70px;
  height: 70px;
}

.btns-wrapper {
  display: flex;
  align-items: center;
  gap: 160px;
  margin-top: 20px;
  p {
    font-family: "MontserratSemiBold";
    font-size: 12px;
    color: #287dfd;
    cursor: pointer;
  }
}
button {
  gap: 20px;
  background: var(--primary-color);
  color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 8.058px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  font-family: "MontserratRegular";
}

button:hover {
  background: #16c798;
}

.name {
  font-family: "MontserratBold";
  font-size: 1.2rem;
  color: #1d2939;
}

.specialty {
  font-family: "MontserratSemiBold";
  color: #464646;
}

.hospital-name {
  font-size: 12px;
}
@media only screen and (max-height: 700px) {
  section {
    header {
      background: var(--primary-base, #f3fcfa);
      height: 30vh;
      h2 {
        text-align: center;
        padding: 8% 30%;
        font-size: 24px;
        font-family: "MontserratSemiBold";
      }
    }
  }

  .appointment-section {
    padding: 3% 10%;
    .appointment-content {
      display: flex;
      justify-content: space-between;
      padding: 10% 6%;
      h2 {
        font-family: "MontserratSemiBold";
        font-size: 2.5rem;
        color: #1d2939;
      }
      p {
        padding: 5% 0;
        color: #1d2939;
      }
    }
  }

  .search-doctor-section {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }

  amalitech-input {
    --inputComponentWidth: 100%;
  }

  img {
    width: 35px;
    height: 35px;
  }

  .category {
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
  }

  .pediatrics {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 9.519px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .pediatrics img {
    width: 30px;
    height: 30px;
  }

  .doctor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 0 10%;
  }

  .doctor-card {
    display: flex;
    width: 100%;
    padding: 22.503px 18.217px;
    height: 270px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 21.431px;
    border: 1px solid var(--Gray-200, #eaecf0);
    background: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  }

  .profile-section {
    display: flex;
    justify-content: space-between;
  }
}
