<nav class="navbar">
  <div class="logo-item">
    <img src="assets/images/patients/logo.svg" alt="" />
  </div>

  <div class="navbar-content">
    <div class="notification-container">
      <img
        src="assets/images/doctor/mingcute_notification-line.svg"
        alt="alarm"
      />
    </div>
    <img
      src="assets/images/doctor/user-profile.svg"
      alt="profile picture"
      class="profile"
    />
    <img
      src="assets/images/doctor/caret-down.svg"
      alt="caret down"
      class="caret"
    />
  </div>
</nav>
