section {
  margin-top: 5%;
}

.remember-password {
  color: #667085;
  font-size: 14px;
  margin-top: 10px;
}

.remember-password span {
  color: #287dfd;
  cursor: pointer;
}

.remember-password span:hover {
  text-decoration: underline;
}

.validation-error-message {
  position: absolute;
  top: 267px;
  left: 50%;
  color: var(--status-error);
  font-size: 12px;
}

button[disabled] .loader,
.form-submitted .loader {
  display: block;
}

button[disabled] .send-link,
.form-submitted .send-link {
  visibility: hidden;
}
