main {
  header {
    font-family: "MontserratSemiBold";
    padding: 14px 24px 14px 0px;
  }
}

.faqs-container {
  padding: 11% 0;
  width: 90%;
  background: red;
}

.form-section {
  display: block;
  width: 80%;
  height: 690px;
  padding: 20px;
  gap: 12px 40px;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: #fdfdfd;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  h2 {
    color: #3d3d3d;
  }
}

.form-section div {
  margin-top: 10%;
}

label {
  display: block;
  font-size: 1rem;
  margin: 12px 0px;
  font-size: 14px;
  font-family: "MontserratMedium";
  color: var(--font-color-grey-2);
  margin-bottom: 5px;
}

.auth-input {
  padding: 0.75rem 1rem;
  width: 60%;
  font-size: 1rem;
  color: #5e718d;
  border-radius: 8px;
  font-family: "MontserratRegular";
  border-radius: 8px;
  margin-bottom: 25px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.input-answer {
  padding: 2rem 5rem 5rem;
  width: 60%;
  font-size: 1rem;
  color: #5e718d;
  padding-left: 11px;
  padding-top: 10px;
  border-radius: 8px;
  font-family: "MontserratRegular";
  border-radius: 8px;
  margin-bottom: 25px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.input-answer:focus {
  border-radius: 8px;
  border: 1px solid var(--input-focused-stroke);
  box-shadow: 0px 1px 2px 0px rgba(125, 228, 204, 0.15),
    0px 0px 0px 4px rgba(125, 228, 204, 0.15);
  outline: var(--input-focused-stroke);
}

.auth-input::placeholder {
  color: var(--font-color-grey);
  font-family: "MontserratRegular";
  font-size: 16px;
}

.auth-input:focus {
  border-radius: 8px;
  border: 1px solid var(--input-focused-stroke);
  box-shadow: 0px 1px 2px 0px rgba(125, 228, 204, 0.15),
    0px 0px 0px 4px rgba(125, 228, 204, 0.15);
  outline: var(--input-focused-stroke);
}

.actions-button {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d0d5dd;
  margin-top: -10px;
}

.btn-wrapper {
  display: flex;
  gap: 20px;
}

.btn-cancel {
  display: flex;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8.058px;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  color: #3c3d3c;
  cursor: pointer;
}

.btn-cancel:hover {
  background: #f5f5f5;
}

.btn-draft {
  display: flex;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8.058px;
  border-radius: 8.058px;
  border: 1px solid var(--Gray-900, #3c3d3c);
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  color: #3c3d3c;
  font-family: "MontserratMedium";
  cursor: pointer;
}

.btn-publish {
  display: flex;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8.058px;
  border-radius: 8.058px;
  background: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  font-family: "MontserratMedium";
  cursor: pointer;
}

.btn-draft:hover {
  background: #f5f5f5;
}

.btn-publish:hover {
  background: #16c798;
}

@media (max-width: 414px) {
  .form-section {
    display: block;
    width: 100%;
  }

  .faqs-container {
    padding: 10%;
  }

  .form-section {
    height: auto;
    padding: 10px;
  }

  .auth-input {
    padding: 0.75rem 1rem;
    width: 100%;
    font-size: 1rem;
  }

  .input-answer {
    padding: 2rem 5rem 5rem;
    width: 100%;
    font-size: 1rem;
    padding-left: 11px;
    padding-top: 10px;
  }

  label {
    margin-bottom: 5px;
  }

  .actions-button {
    flex-direction: row;
    align-items: center;
  }

  .btn-wrapper {
    flex-direction: row;
    gap: 10px;
  }

  .btn-cancel,
  .btn-draft,
  .btn-publish {
    height: auto;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 8px;
    gap: 5px;
  }
}
