<main class="add-faqs page">
  <app-nav-bar />
  <app-side-nav />
  <header>
    <h2>Add New FAQ</h2>
  </header>
  <div class="form-section">
    <h2>FAQ Information</h2>
    <label for="question">Question</label>
    <input
      type="text"
      placeholder="Type your question here"
      class="auth-input"
    />
    <label for="answer">Answer</label>
    <input
      type="text"
      placeholder="Type your question here"
      class="input-answer"
    />

    <div class="actions-button">
      <div class="btn-cancel">
        <p>Cancel</p>
      </div>
      <div class="btn-wrapper">
        <div class="btn-draft">
          <p>Save as Draft</p>
        </div>
        <div class="btn-publish">
          <p>Publish FAQ</p>
        </div>
      </div>
    </div>
  </div>
</main>
