<main>
  <div>
    <app-auth-nav></app-auth-nav>
  </div>
  <section class="hero-section">
    <div class="hero-content">
      <div class="hero-text">
        <h1>
          Make an appointment with a
          <span #animatedText class="animated-text">{{ currentText }}</span>
        </h1>
        <p>
          Risus commodo id odio turpis pharetra elementum. Pulvinar porta porta
          feugiat scelerisque in elit. Morbi rhoncus, tellus, eros
        </p>
      </div>

      <img
        src="assets/images/patients/hero-img.svg"
        alt="doctor"
        loading="lazy"
      />
    </div>
    <div class="buttons-wrapper">
      <button class="btn-demo">
        Watch Demo
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
        >
          <g clip-path="url(#clip0_1899_10027)">
            <path
              d="M20.1695 5.70312C20.0699 5.6497 19.9576 5.62432 19.8446 5.62969C19.7317 5.63505 19.6223 5.67097 19.5281 5.73359L16.75 7.58203V5.625C16.75 5.29348 16.6183 4.97554 16.3839 4.74112C16.1495 4.5067 15.8315 4.375 15.5 4.375H3C2.66848 4.375 2.35054 4.5067 2.11612 4.74112C1.8817 4.97554 1.75 5.29348 1.75 5.625V14.375C1.75 14.7065 1.8817 15.0245 2.11612 15.2589C2.35054 15.4933 2.66848 15.625 3 15.625H15.5C15.8315 15.625 16.1495 15.4933 16.3839 15.2589C16.6183 15.0245 16.75 14.7065 16.75 14.375V12.4219L19.5281 14.2742C19.6313 14.3412 19.752 14.3763 19.875 14.375C20.0408 14.375 20.1997 14.3092 20.3169 14.1919C20.4342 14.0747 20.5 13.9158 20.5 13.75V6.25C20.4992 6.13755 20.4681 6.02739 20.4099 5.93114C20.3518 5.83489 20.2687 5.75612 20.1695 5.70312ZM15.5 14.375H3V5.625H15.5V14.375ZM19.25 12.582L16.75 10.9156V9.08437L19.25 7.42188V12.582Z"
              fill="#3C3D3C"
            />
          </g>
          <defs>
            <clipPath id="clip0_1899_10027">
              <rect
                width="20"
                height="20"
                fill="white"
                transform="translate(0.5)"
              />
            </clipPath>
          </defs>
        </svg>
      </button>
      <button class="btn-appointment" (click)="bookAppointment()">
        Book an Appointment
      </button>
    </div>
  </section>
  <div class="services">
    <h1>Explore Our Services</h1>
    <p>
      At our healthcare facility, we offer a diverse range of services aimed at
      promoting your well-being. From advanced diagnostic procedures to
      personalized treatment plans, our dedicated team of professionals is
      committed to providing the highest quality care.
    </p>
    <app-services-card />
  </div>
  <div class="mid-section">
    <div class="mid-section-content">
      <div>
        <h2>Your health is our priority!</h2>
        <p>
          Commodo diam vulputate dui proin quis enim nibh. Non integer ac libero
          facilisis hendrerit a at. Nisi sem ut sed sed faucibus at eu elit.
          Morbi aliquam porttitor mattis consequat neque, tellus blandit.
        </p>

        <p>
          Commodo diam vulputate dui proin quis enim nibh. Non integer ac libero
          facilisis hendrerit a at. Nisi sem ut sed sed faucibus at eu elit.
          Morbi aliquam porttitor mattis consequat neque, tellus blandit.
        </p>
      </div>
      <img src="assets/images/patients/woman-1.svg" alt="nurse" class="nurse" />
    </div>
  </div>
  <div class="mid-bottom">
    <img src="assets/images/patients/woman-2.svg" alt="woman in suit" />
    <div class="mid-bottom-content">
      <h1>Get monthly health tips from our professionals</h1>
      <p>
        Commodo diam vulputate dui proin quis enim nibh. Non integer ac libero
        facilisis hendrerit a at. Nisi sem ut sed sed faucibus at eu elit. Morbi
        aliquam porttitor mattis consequat neque, tellus blandit.
      </p>
    </div>
  </div>
  <div class="section-trustees">
    <h1>Trusted by Thousands of Happy Customers</h1>
    <p>
      These are the stories of our customers who have joined us with great
      pleasure when using this crazy feature. Hear from some of our happy
      customers.
    </p>
    <app-trustees-card />
  </div>
  <div class="signup-for-tips">
    <div class="signup-for-tips-content">
      <div>
        <h1>Sign up for our general health tips</h1>
        <p>
          Be the first to know about releases and industry news and insights.
        </p>
      </div>

      <div>
        <form>
          <div class="input-container">
            <app-custom-input-field
              [type]="'email'"
              [placeholder]="'Your e-mail '"
              [control]="emailForm.get('email')"
            />
            <button>Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="section-faqs">
    <h1>Frequently Asked Questions</h1>
    <p>Everything you need to know about the product and billing.</p>
    <div class="accordion">
      <amalitech-accordion
        label="Are my personal and medical information secure on the platform?"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid."
        animated
      ></amalitech-accordion>
      <amalitech-accordion
        label="Can I book appointments for family members or dependents?"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid."
        animated
      ></amalitech-accordion>
      <amalitech-accordion
        label="How do I book an appointment through the platform?"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid."
        animated
      ></amalitech-accordion>
      <amalitech-accordion
        label="Can I view my past appointment and medical history?"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid."
        animated
      ></amalitech-accordion>
      <amalitech-accordion
        label="Are my personal and medical information secure on the plaform?"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid."
        animated
      ></amalitech-accordion>
      <amalitech-accordion
        label="Can I book appointments for family members or dependents?
        "
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid."
        animated
      ></amalitech-accordion>
    </div>
  </div>
  <app-footer />
</main>
