@font-face {
  font-family: "MontserratRegular";
  src: url("assets/fonts/Montserrat-Regular.otf"), format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("assets/fonts/Montserrat-Medium.otf"), format("truetype");
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("assets/fonts/Montserrat-SemiBold.otf"), format("truetype");
}

@font-face {
  font-family: "MontserratBold";
  src: url("assets/fonts/Montserrat-Bold.otf"), format("truetype");
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url("assets/fonts/Montserrat-ExtraBold.otf"), format("truetype");
}

body {
  background-color: var(--bg-color);
  transition: all 0.5s ease;
  font-family: "MontserratRegular", sans-serif;
  min-height: 100vh;
  padding: 0;
}

*:not(amalitech-select-option),
*:not(amalitech-select-option):before,
*:not(amalitech-select-option)::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #fff;
  --primary-color: #018969;
  --input-focused-stroke: rgba(141, 242, 218, 0.5);
  --font-color-grey: #667085;
  --font-color-grey-2: #344054;
  --font-color-dark: #000;
  --status-pending-50: #ff9c40;
  --status-pending-100: #fff6ec;
  --status-success: #027a48;
  --status-success-50: #ecfdf3;
  --status-error: #b42318;
  --status-error-50: #fef3f2;
  --status-neutral: #f3f4f6;
  --danger: #d92d20;
  --lightning-yellow: #fcc101;
}

.page {
  min-height: 100vh;
  padding: 10vh 40px 40px calc(14% + 40px);
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
  width: 95%;
}

.btn-wrapper {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1440px) and (max-height: 900px) {
  .page {
    min-height: 100vh;
    padding: 10vh 40px 40px calc(17% + 40px);
  }
}

@media (max-width: 992px) {
  .page {
    padding: 10vh 20px 20px;
  }
}
