<main class="doctors page">
  <app-nav-bar></app-nav-bar>
  <app-side-nav></app-side-nav>
  <header>
    <h1>Doctors</h1>
  </header>
  <section>
    <div class="actions-button">
      <app-search></app-search>
      <div class="buttons-wrapper">
        <div class="btn-filter" (click)="toggleFilters()">
          <img src="assets/images/doctor/filter-lines.svg" alt="Fliter Icon" />
          Filters
        </div>
        <div class="btn-invite" (click)="openModal()">
          <img src="assets/images/doctor/add.svg" alt="Icon plus" />
          Invite Doctors
        </div>
      </div>
    </div>
  </section>
  @if (showFilters) {
  <div class="filter-card">
    <amalitech-select
      (amalitechChange)="onChange($event)"
      label="Specialization"
    >
      <amalitech-select-option value="1">Dermatologist</amalitech-select-option>
      <amalitech-select-option value="2">Cardiologist</amalitech-select-option>
      <amalitech-select-option value="3">Orthopedist</amalitech-select-option>
      <amalitech-select-option value="4">Neurologist</amalitech-select-option>
    </amalitech-select>

    <amalitech-select (amalitechChange)="onChange($event)" label="Rank">
      <amalitech-select-option value="1">Junior</amalitech-select-option>
      <amalitech-select-option value="2">Senior</amalitech-select-option>
    </amalitech-select>

    <amalitech-select (amalitechChange)="onChange($event)" label="Status">
      <amalitech-select-option value="1">Active</amalitech-select-option>
      <amalitech-select-option value="2">Inactive</amalitech-select-option>
    </amalitech-select>
    <div class="filter-reset-btn">
      <img src="assets/images/admin/x-close.svg" alt="Icon Clear" />
      <p>Clear all</p>
    </div>
  </div>
  }

  <app-doctor-details></app-doctor-details>
</main>
