<div class="footer-card">
  <div class="footer-content">
    <div class="logo">
      <img src="assets/images/patients/logo.svg" alt="App Logo" />
      <p>
        Your healthcare is our priority. Feel free to visit our platform
        anytime!
      </p>
    </div>
    <div class="ul-container">
      <ul>
        <li>
          <p>Product</p>
        </li>
        <li>
          <a>Overview</a>
        </li>
        <li>
          <a>Features</a>
        </li>
        <li>
          <a>Pricing</a>
        </li>
        <li>
          <a>Releases</a>
        </li>
      </ul>
      <ul>
        <li>
          <p>Company</p>
        </li>
        <li>
          <a>About Us</a>
        </li>
        <li>
          <a>Careers</a>
        </li>
        <li>
          <a>News</a>
        </li>
        <li>
          <a>Contact</a>
        </li>
      </ul>
      <ul>
        <li>
          <p>Resources</p>
        </li>
        <li>
          <a>Newsletters</a>
        </li>
        <li>
          <a>Help centre</a>
        </li>
        <li>
          <a>Tutorials</a>
        </li>
        <li>
          <a>Support</a>
        </li>
      </ul>
      <ul>
        <li>
          <p>Social</p>
        </li>
        <li>
          <a>Twitter</a>
        </li>
        <li>
          <a>LinkedIn</a>
        </li>
        <li>
          <a>Facebook</a>
        </li>
        <li>
          <a>GitHub</a>
        </li>
      </ul>
      <ul>
        <li>
          <p>Legal</p>
        </li>
        <li>
          <a>Terms</a>
        </li>
        <li>
          <a>Privacy</a>
        </li>
        <li>
          <a>Cookies</a>
        </li>
        <li>
          <a>Licenses</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div class="footer-bottom">
    <p>&copy; 2023 AmaliTech. All rights reserved.</p>
    <div class="socials">
      <img src="assets/images/patients/twitter-icon.svg" alt="twitter" />
      <img src="assets/images/patients/linkedIn-icon.svg" alt="linkedin" />
      <img src="assets/images/patients/facebook-icon.svg" alt="acebook" />
    </div>
  </div>
</div>
