<main>
  <app-auth-nav></app-auth-nav>
  <app-background-illustration></app-background-illustration>
  <section class="auth-card">
    <div class="auth-card-content">
      <header class="auth-card-header">
        <h2>Forgot Password</h2>
        <p>
          Don't worry, enter your email address below. We will send you a link
          to reset your password
        </p>
      </header>
    </div>
    @if (formField === 'email') {
    <app-email-form></app-email-form>
    } @else if (formField === 'notification') {
    <app-otp></app-otp>
    } @else if( formField === 'resetPassword'){
    <app-new-password></app-new-password>
    }
  </section>
</main>
